body{
    margin: 0;
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(191, 130, 130);
}
div{
    position: relative;
}
button{
    top: 20px;
    left: 20px;
    position: absolute;
}
a{
    top: 0;
    left:0;
    position: absolute;
}

